--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.1+cu118
torchvision==0.18.1+cu118
timm==0.6.11
ultralytics==8.4.53
opencv-python==4.10.0.84
Pillow==10.2.0
numpy==1.26.3
pandas==2.2.3
tqdm>=4.66,<5
PyYAML==6.0.2
scikit-learn==1.5.2
facenet-pytorch==2.5.3
